/* Coses particulars */
#index{
	width: 100%;
}
#index li{
	list-style-type:square;
}
#index a{
	color:#657B83;
	text-decoration: none;
}

#img-poster{
	height: 550px;
}

#logo-upcnet{
	height: 80px;
	vertical-align: middle;
}

#logo-somupc{
	height: 80px;
	vertical-align: middle;
}

#app-store{
	height: 80px;
	vertical-align: middle;
}

#logo-appstore{
	height: 150px;
}

#icon-pdf{
	vertical-align: middle;
}
#icon-latex{
	height: 40px;
	vertical-align: middle;
}
#icon-github{
	height: 32px;
	vertical-align: middle;
}

#historia-usuari{
	display: table;
	text-align: left;
}
#historia-usuari span, #historia-usuari{
	border: 2px solid #63A3AD;
}
#historia-usuari > div  {
	display: table;
	width: 100%;
}

#historia-usuari > div > div > div {
	display: table-cell;
}

#historia-usuari > div >  span{
	display: table-cell;
	padding: 5px;
}

#historia-usuari .cap{
	background: #C6D8FF;
}
#historia-usuari ul li{
	margin: 0;
}

#arquitectura-presentacio-resultat, #arquitectura-presentacio-disseny{
	height: 500px;
}

#video-demo{

}

#capsa-app-intro img{
	height: 200px;
	vertical-align: middle;
	padding-right: 20px;
	float: left;
}
#capsa-app-intro{
	font-size: 2em;
}

#product-backlog{
	position: absolute;
	top: 100px;
	left: 50px;
	height: 400px;
}

#daily-scrum{
	position: absolute;
	top: 100px;
	left: 0px;
	height: 350px;
}
#task-board-trello{
	position: absolute;
	top: 80px;
	left: 0px;
	height: 300px;
}
#task-board-fisic{
	position: absolute;
	top: 400px;
	left: 0px;
	height: 250px;
}

#scrum-diagram{
	position: absolute;
	top: 100px;
	margin: 0 auto;
	width: 100%;
	right: 0px;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#scrum-diagram.scrum-diagram-small{
	top: 400px;
	width: 500px;
}

#scrum-postits{ /* real size: 909x269 */
	position: absolute;
	top: 200px;
	left: 20px;
	width: 900px;
	height: auto;
	max-height: 1000%;
	max-width: 1000%;
}
#scrum-text{
	position: absolute; 
	top: 250px;
	left: 0;
	width: 100%;
	font-size: 3em;
	text-align: center;
}

#Portada h1 {
	font-size: 3em;
}

#abast-somupc-marc, #abast-tfg-marc{
	position: absolute; 
    border: 4px solid #999;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;
}
#abast-somupc-marc{
	height: 300px;
	left: 120px;
	top: 380px;
	width: 800px;
}

#abast-tfg-marc{
	height: 300px;
	left: 120px;
	top: 380px;
	width: 200px;
}

#abast{
	height: 550px;
}

#desplegament{
	width: 100%;
}

#desplegament-max-ombra{
	height: 150px;
	left: 380px;
	top: 80px;
	width: 150px;
}
#desplegament-oauth-ombra{
	height: 150px;
	left: 10px;
	top: 370px;
	width: 150px;
}
#desplegament-apns-ombra{
	height: 150px;
	left: 60px;
	top: 210px;
	width: 150px;
}
#desplegament-protocolsMax-ombra{
	height: 130px;
	left: 280px;
	top: 190px;
	width: 300px;
}
#desplegament-portals-ombra{
	height: 470px;
	right: 0;
	top: 120px;
	width: 310px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
/* Coses generals */

.reveal .ombra{
	position: absolute;
	background: rgba(155,155,155,0.3);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0px 0px 20px  rgba(155,155,155,0.3);
    z-index: -1;
}

.reveal .slide-number {
    font-size: large;
    font-weight: bold;
}

.reveal .absolute-image{
	max-height: 1000%;
	max-width: 1000%;
}

.reveal blockquote:before {
	content: '\201C';
}
.reveal blockquote:after {
	content: '\201D';
}
.reveal blockquote sup{
	font-size: smaller;
}

.reveal ul{
	width: 100%;
}
.reveal p{
	text-align: left;
}

.reveal .no-shadow, .reveal a img, .reveal:hover a img{
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
}

.no-list-style li{
	list-style-type: none;
}

.reveal .state-background {
	background: #fff;
}

.reveal ul li{
	margin-bottom: 30px;
}

.reveal ul li ul{
	margin-top: 10px;
}

.reveal ul li ul li{
	margin-bottom: 10px;
}

.reveal .state-background .logo{
	position: fixed;
	top: 2%;
	right: 2%;
	height: 283px;
	width: 742px;
	background-image: url('logo_inlab.png');
	background-position: 90% 10%;
	background-repeat: no-repeat;
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	transform-origin: top right;
}

@media only screen and (min-width: 1200px) {
	.reveal .state-background .logo{
		transform:  scale(0.5); -moz-transform:  scale(0.5); -webkit-transform:  scale(0.5); 
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
	.reveal .state-background .logo{
		transform:  scale(0.4);  -moz-transform:  scale(0.4); -webkit-transform:  scale(0.4); 
	}
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
	.reveal .state-background .logo{
		transform:  scale(0.3);  -moz-transform:  scale(0.3); -webkit-transform:  scale(0.3); 
	}
}

@media only screen and (max-width: 480px) {
	.reveal .state-background .logo{
		transform:  scale(0.2);  -moz-transform:  scale(0.2); -webkit-transform:  scale(0.2); 
	}
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
	text-transform: none;
}


.reveal .modal-image > span{
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 80px;
	width: 100%;
	height: 100%;
	margin: 0px auto
}

.reveal .span-fragment{
	width: 100%;
	height: 100%;
}

.reveal .half-block{
	width: 49%;
	float: left;
	padding: 10px;
}

.reveal .half-block, .reveal .half-block *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
}



.reveal .center-half-block{
	width: 100%;
}
.reveal .center-half-block{
	margin: 0 auto;
	width: 49%;
}

.reveal h2.vertical-center{
	padding-top: 250px;
}

.half-block table{
	width: 100%;
}
.half-block .fit{
	max-width: 100%;
	max-height: 100%;
}

.reveal .third-block{
	width: 32%;
	float: left;
	padding: 10px;
}
.reveal .third-block, .reveal .third-block *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
}

.reveal .capture{
	height: 500px;
	border: 1px solid #333;
}

.reveal .medium-image{
	height: 250px;
}

.reveal .progress {
	height: 6px;
}

/* Tables */
table.decorated a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table.decorated a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table.decorated a:active,
table.decorated a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table.decorated {
	color:#666;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:0px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table.decorated th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.decorated th:first-child {
	text-align: left;
	padding-left:20px;
}
table.decorated tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.decorated tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.decorated tr {
	text-align: center;
	padding-left:20px;
}
table.decorated td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table.decorated td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.decorated tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.decorated tr:last-child td {
	border-bottom:0;
}
table.decorated tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.decorated tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.decorated tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}